.stats {
    &__description {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #9ca3af;
    }

    &__container {
        margin: 25px 0;
        display: flex;
        justify-content: space-between;

        div {
            flex: 1;
            margin-right: 1rem;
            height: 5rem;
            padding: 1rem;
            border: 0 solid #e5e7eb;
            border-left-width: 8px;
            border-radius: 0.25rem;
            background-color: rgba(255, 255, 255, 0.06);
            box-sizing: border-box;

            &:first-child {
                border-color: #e15241;
            }

            &:nth-child(2) {
                border-color: #8dc647;
            }

            h1,
            h2 {
                margin: 0;
                font-weight: normal;
            }

            h1 {
                color: #ccc;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            h2 {
                color: #6b7280;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
}
