$dark-background: #121212;

body {
    box-sizing: border-box;
    color: #ccc;
    background: $dark-background;
    font-size: 13px;
    font-family: sans-serif;
}

.app__container {
    width: 1300px;
    margin: 20px auto;
}
